<%= render partial: "shared/heading", locals: {title: 'Apply to Founder Digest', tagline: 'Each submission is manually reviewed by our team within 24 hours.'} %>

<% plan_name = params[:plan] || 'free' %>

<div class="max-w-sm mx-auto">
    <%= form_for UserSubmission.new do |f| %>
        <div class="space-y-8">
            <input type="hidden" id="user_submission_plan_name" name="user_submission[plan_name]" value="<%= plan_name %>">

            <div class="">
                <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                    <div class="sm:col-span-3">
                    <label for="first_name" class="block text-sm font-medium leading-6 text-gray-900">First name</label>
                    <div class="mt-1">
                        <%= f.text_field :first_name, required: true, placeholder: 'Jero', class:'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6' %>
                    </div>
                </div>

                <div class="sm:col-span-3">
                    <label for="last_name" class="block text-sm font-medium leading-6 text-gray-900">Last name</label>
                    <div class="mt-1">
                        <%= f.text_field :last_name, required: true, placeholder: 'Esguerra', class:'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6' %>
                    </div>
                </div>

                <div class="sm:col-span-6">
                    <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
                    <div class="mt-1">
                        <%= f.text_field :email, type: 'email', required: true, placeholder:'jero@jeroesguerra.com', class:'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6' %>
                    </div>
                </div>

                    <div class="sm:col-span-6">
                    <label for="website" class="block text-sm font-medium leading-6 text-gray-900">Company Website</label>
                    <div class="mt-1">
                        <%= f.text_field :website, type: 'url', required: true, placeholder:'https://jeroesguerra.com', class:'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6' %>
                    </div>
                </div>
            </div>

            <div class="">
                <div class="mt-6">
                    <fieldset>
                        <legend class="text-sm font-semibold leading-6 text-gray-900">What's your role?</legend>
                        <div class="mt-6 space-y-4">
                            <div class="flex items-center gap-x-3">
                                <input id="user_submission_job_role_csuite" required name="user_submission[job_role]" type="radio" value="c-suite" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
                                <label for="user_submission_job_role_csuite" class="block text-sm font-medium leading-6 text-gray-900">C-Suite</label>
                            </div>
                            <div class="flex items-center gap-x-3">
                                <input id="user_submission_job_role_founder" required name="user_submission[job_role]" type="radio" value="founder" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
                                <label for="user_submission_job_role_founder" class="block text-sm font-medium leading-6 text-gray-900">Founder</label>
                            </div>
                            <div class="flex items-center gap-x-3">
                                <input id="user_submission_job_role_employee" required name="user_submission[job_role]" type="radio" value="employee" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
                                <label for="user_submission_job_role_employee" class="block text-sm font-medium leading-6 text-gray-900">Employee</label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="mb-6">
                    <div class="mt-6">
                    <div class="col-span-full">
                        <label for="text" class="block text-sm font-medium leading-6 text-gray-900">About</label>
                        <div class="mt-2">
                            <%= f.text_area :text, placeholder:"Stakeholders, this month we...", rows: 6, class:'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6' %>
                            </div>
                            <p class="mt-3 text-sm leading-6 text-gray-600">The more detailed, the more likely you'll be accepted.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-6 flex items-center justify-end gap-x-6">
                <button type="submit" class="w-full rounded-md bg-brand-blue px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-brand-blue-dark focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Apply</button>
            </div>
        </div>

    <% end %>
    
</div>
